//-
//- Copyright (C) Manuel J. Blanco Vecino
//- 
//- Desarrollo de un centro de videoconferencias utilizando WebRTC
//- Project site: https://github.com/manublanco/Centro-de-Videoconferencias
//- 
//- Proyecto fin de carrera. Universidade da Coru침a
//-




// preset form values if we receive a userdata object //
user = typeof(udata) != 'undefined' ? udata : { }
evento = typeof(edata) != 'undefined' ? edata : { }


// store the userId on the client side in a hidden input field //
input(type='hidden', value= user._id)#userId
input(type='hidden', value= evento._id)#eventId


#evento-form-container
	form( method="post")#evento-form.form-horizontal.well.span6
		h1 Modificar Evento
		p#sub1.subheading Formulario para la modificacion de un evento
		hr
		fieldset
			#titulo-cg.control-group
				label.control-label(for='titulo-tf') Titulo
				.controls
					input#titulo-tf.input-xlarge(type='text', name='titulo', value=evento.titulo)
			#descripcion-cg.control-group
				label.control-label(for='descripcion-tf') Descripci칩n
				.controls
					input#descripcion-tf.input-xlarge(type='text', name='descripcion', value=evento.descripcion)
			#fecha-cg.control-group
				label.control-label(for='fecha-tf') Fecha 
				.controls
					input#fecha-tf.input(type='date', name='fecha', value=evento.fecha)	
					input#array-tf.input.hide(type='text', name='array_invitados', value=evento.invitados)

				label.control-label(for='hora-tf') Hora 
				.controls	
					input#hora-tf.input(type='time', name='hora', value=evento.hora)
			#invitado-cg.control-group
				label.control-label(for='invitado-tf')	A침adir mas Invitados 
				.controls
					input#invitado-tf.input(type='email', name='invitado', onclick="this.value=''")
					input(type='button', onclick='anhadirInvitadomod()', value='A침adir Invitado')
					
					#box
					

					
					input#user-tf.input-xlarge.hide(type='text', name='user', value= user.user)

			hr
			p#sub2.subheading
			.form-actions
				button(type='button')#evento-form-btn1.btn 
				button(type='submit')#evento-form-btn2.btn 


// display form errors in a custom modal window //

include modals/form-errors

